{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    <section class="page-section page-content" xmlns:text-align="http://www.w3.org/1999/xhtml">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Créer un compte</h2>
                    <h3 class="section-subheading text-muted">-----</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">
                    <h4 class="heading">Création d'un compte entreprise</h4>
                    <div class="form-group" style="text-align: left">
                        {{ form_errors(registrationForm) }}

                        {{ form_start(registrationForm) }}

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                {# {{ form_row(registrationForm.entreprise.raison_sociale) }} #}
                            </div>
                            <div class="col-md-6 col-xs-12">
                                {# {{ form_row(registrationForm.entreprise.logo) }} #}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                {# {{ form_row(registrationForm.entreprise.adresse) }} #}
                            </div>
                            <div class="col-md-6 col-xs-12">
                                {# {{ form_row(registrationForm.entreprise.seconde_adresse) }} #}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                {# {{ form_row(registrationForm.entreprise.localite) }} #}
                            </div>
                            <div class="col-md-6 col-xs-12">
                            </div>
                        </div>

                        {# {{ form_row(registrationForm.entreprise.description) }}

                        {% include 'entreprise/collections/renderCollections.html.twig' with {'form': registrationForm.entreprise} %}

                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword) }}

                        {{ form_rest(registrationForm) }} #}


                        <div style="text-align: right">
                            <button class="btn btn-primary text-uppercase" type="submit">Créer</button>
                        </div>

                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}