@import "_variables";
@import "~bootstrap/scss/bootstrap";
@import "_bootswatch";

body {
  font-size: 18px;
}

#main-container {
  padding-top: 105px;
}

.main-nav {
  font-size: 22px;
}

.li-quiz {
  position: relative;
}

.quiz-bage {
  font-size: 13px;
  position: absolute;
  bottom: 33px;
  left: 50px;
}

.enigme-error {
  background-color: #e3454b !important;
}

$enigme-btn-size: 62px;
.enigme-menu-button {
  font-size: 32px;
  width: $enigme-btn-size;
  height: $enigme-btn-size;
  min-width: $enigme-btn-size;
  min-height: $enigme-btn-size;
  margin: 5px;
}

.col-no-espace {
  padding: 0px;
  margin: 0px;
}