<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Enigmatrix - {% block title %}{% endblock %}</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="stylesheet" href="{{ asset('fontawesome/css/all.min.css') }}" />
	</head>
	<body>
		{% include 'layout/header.html.twig' %}
		<div class="container-fluid" id="main-container">
			{% block body %}{% endblock %}
		</div>
		{% include 'layout/footer.html.twig' %}
		{% block javascripts %}
             {{ encore_entry_script_tags('app') }}
        {% endblock %}
	</body>
</html>
