<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary main-nav">
	<a class="navbar-brand" href="/">
		<i class="fa fa-trophy" aria-hidden="true"></i>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="mainNav">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('enigme') }}">Enigmes</a>
			</li>
			<li class="nav-item li-quiz">
				<span class="badge badge-pill badge-success quiz-bage">Nouveau</span>
				<a class="nav-link" href="{{ path('quiz') }}">Quiz</a>
			</li>
		</ul>

		<div class="form-inline my-2 my-lg-0">
			{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<a class="navbar-brand" href="{{ path('user_profil') }}">
				<i class="fas fa-user"></i>
			</a>
			{% else %}
			<a class="navbar-brand" href="{{ path('app_login') }}">
				<i class="fas fa-user"></i>
			</a>
			{% endif %}
		</div>

	</div>
</nav>
