{% extends 'base.html.twig' %}

{% block title %}Enigme
{% endblock %}

{% block body %}

	<div class="container">

		<div class="card bg-secondary mb-3">
			<div class="card-header">Bienvenue dans le jeu <span class="text-muted font-weight-bold">enigmes</span> !</div>
			<div class="card-body">
				<h4 class="card-title">Concept:</h4>
				<p class="card-text">Explication</p>
			</div>
		</div>

		<a style="color: white;" href="{{ path('start_enigme') }}">
			<button type="button" class="btn btn-primary btn-lg btn-block">
			<b>Jouer</b>
			</button>
		</a>

	</div>

{% endblock %}
