{% extends 'base.html.twig' %}

{% block title %}Enigme{% endblock %}

{% block body %}

	<div class="container">
		<div id="root_enigme"></div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('enigme_app') }}
{% endblock %}
